@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}

/* @keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
} */

.hidden {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  color: #34495e;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Agbalumo", serif;
  font-size: 3rem;
  padding: 1rem;
}

p {
  font-size: 1.6rem;
  line-height: 2;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.animals__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.animals__list > * {
  width: 100%;
}

.animal__text {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  view-transition-name: animal-header;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateY(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateY(-30px);
  }
}

::view-transition-old(animal-header) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(animal-header) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

button {
  padding: 1rem 2rem;
  align-self: flex-start;
  cursor: pointer;
  background: #34495e;
  color: #fff;
  border-radius: 10px;
  border: 5px solid #34495e;
  font-family: "Agbalumo", serif;
}

.single__animal {
  display: flex;
  height: 100dvh;
  padding: 5rem;
  gap: 2rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .animals__list > * {
    width: calc(50% - 2rem);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .animals__list > * {
    width: calc(33% - 2rem);
  }
}
